/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3F5FC;
  font-family: 'Courier New', Courier, monospace;
}

header {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1000;
}

.logo img {
  width: 120px;
  height: 48px;
}

main {
  display: flex;
  height: calc(100vh - 40px);
  padding-top: 40px;
  overflow: hidden;
}

/* Container de Criptografar */
.container-criar {
  margin-left: 240px;
  margin-top: 40px;
  width: calc(100% - 640px); /* Ajustado para simplificar */
  height: calc(100vh - 40px);
  max-width: 1000px;
  background-color: #F3F5FC;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container de Descriptografar */
.container-descriptografar {
  width: 90%;
  max-width: 400px;
  margin: 0 40px; /* Adiciona margem à direita e esquerda */
  border-radius: 32px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container-descriptografar img {
  width: 336px;
  height: 304px;
  margin: 0 auto 10px;
  display: block;
}

.container-descriptografar h2,
.container-descriptografar p {
  text-align: center;
  color: #343A40;
}

.container-digitar {
  margin-left: 240px;
  margin-top: 40px;
  width: calc(100% - 640px); /* Ajustado para simplificar */
  min-height: 500px;
  background-color: #F3F5FC;
}

/* Ajuste para textarea */
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  resize: none;
  color: #0A3871;
}

.area-encriptografar textarea {
  font-family: 'Inter', sans-serif;
  height: 700px;
  border: none;
  background-color: transparent;
  font-size: 30px;
}

.area-encriptografar textarea::placeholder {
  color: #0A3871;
}

.area-descriptografar textarea {
  height: 300px;
  border: none;
  background-color: #f8f9fa;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  color: #343A40;
  cursor: not-allowed;
}

/* Botões */
.botoes-enc-desc {
  display: flex;
  gap: 16px;
  margin: 20px;
}

/* Ajustes para proporção principal */
@media (min-width: 1025px) {
  .btn-criptografar,
  .btn-descriptografar {
    margin-left: 8px; /* Ajusta a margem à esquerda dos botões na proporção principal */
  }
}

.btn-criptografar,
.btn-descriptografar,
.btn-copiar,
.btn-reset {
  border-radius: 15px;
  width: 180px;
  height: 75px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border: 1px solid #0A3871; /* Adiciona a borda azul */
}

.btn-criptografar {
  background-color: #0A3871;
  color: white;
}

.btn-criptografar:hover {
  background-color: #ffffff;
  color: #0A3871;
}

.btn-descriptografar {
  background-color: #D8DFE8;
  color: #0A3871;
}

.btn-descriptografar:hover {
  background-color: #ffffff;
  color: #0A3871;
}

.btn-copiar {
  background-color: white; /* Fundo branco */
  color: #0A3871;
  width: 300px; /* Ajusta a largura do botão */
  height: 65px; /* Ajusta a altura do botão */
  margin-top: 30px;
  margin-left: 30px;
  padding: 10px 20px;
}

.btn-copiar:hover {
  background-color: #0A3871; /* Fundo azul ao passar o mouse */
  color: white;
}

.btn-reset {
  background-color: #D8DFE8;
  color: #0A3871;
  display: none;
}

/* Media Queries para Tablet */
@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  .container-digitar {
    width: 100%;
    min-height: 50vh;
    margin: 0;
  }

  .area-encriptografar textarea {
    padding: 100px;
    height: 30vh;
    font-size: 24px;
  }

  .container-descriptografar {
    width: 90%;
    max-width: 100%;
    margin: 0 20px; /* Ajusta a margem para dispositivos menores */
    margin-left: 40px;
  }

  .container-descriptografar img {
    display: none;
  }

  .area-descriptografar textarea {
    height: auto;
    min-height: 100px;
    font-size: 24px;
  }

  /* Ajuste para botões em tablets */
  .botoes-enc-desc {
    gap: 16px;
    margin: 20px 10px; /* Adiciona margem para centralizar melhor os botões */
    margin-left: 100px;
  }
  .btn-copiar {
    margin-top: 10px;
    margin-left: 160px;
  }
}

/* Media Queries para Celular */
@media (max-width: 375px) {
  main {
    flex-direction: column;
  }

  .container-digitar {
    width: 100%;
    min-height: 50vh;
    margin: 50px 0 0;
    padding: 10px;
  }

  .area-encriptografar textarea {
    padding: 20px;
    height: 30vh;
    font-size: 20px;
  }

  .botoes-enc-desc {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0; /* Remove a margem nos botões em celulares */
  }

  .btn-criptografar,
  .btn-descriptografar,
  .btn-reset {
    width: 90%;
    height: 50px;
    font-size: 14px;
    margin: 0; /* Remove a margem dos botões em celulares */
  }

  .container-descriptografar {
    width: 100%;
    max-width: none;
    margin: 0 10px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }

  .area-descriptografar textarea {
    height: auto;
    min-height: 80px;
    font-size: 20px;
  }

  .btn-copiar {
    margin-top: 10px;
    margin-left: 5px; /* Remove a margem esquerda do botão copiar em celulares */
  }

  #botaoReset {
    display: block;
  }
}
